@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>

<div class="card">

    @(await Html.RenderComponentAsync<AspNetCoreBlazorApp.Views.Shared.Components.TestComponent>(RenderMode.ServerPrerendered,new {  Data="I came from Index page",style= "badge-warning" }))


</div> 